<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">

    <title>{{title}}</title>
  </head>
  <body>
  {{>header}}
  <p>This site was created by Kyryl Dzhosan. It uses data from mapbox and other services</p>
    <p>Kreate by {{name}}</p>
    {{>footer}}
  </body>
</html>
