<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
      <link rel="icon" href="/img/weather.png">
    <title>{{title}}</title>
  </head>
  <body>
    {{>header}}
    {{title}}
    <div class="main-content">
      <p>Provided by {{gover}}</p>
    </div>
    {{>footer}}
  </body>
</html>
